<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="../assets/style.css">
    </head>

    <body>
        <!-- 引入公共导航模板 -->
        <% include ../public/nav.ejs %>      
        <h1>Welcome To 联系我们！</h1>
        <p>This will be the best website!!</p>
    </body>
</html>